<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GGDB{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        {% block nav %}
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/games">Games</a></li>
                {% block nav_button %}
                {% endblock %}
                {% if 'status' in session and session['status'] == 'admin' %}
                <li><a href="{{ url_for('admin') }}">Admin</a></li>
                {% endif %}
                <li class="right"><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
        <br />
        <br />
        {% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <br />
        <br />
        <br />
        &copy; GGDB 2023
    </footer>
{% block scripts %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
</body>
</html>
