<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GGDB{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        {% block nav %}
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/games">Games</a></li>
                {% if 'status' in session and session['status'] == 'admin' %}
                <li><a href="{{ url_for('admin') }}">Admin</a></li>
                {% endif %}
                <li style="float:right"><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
        <br />
        <br />
        {% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <br />
        <br />
        <br />
        &copy; GGDB 2023
    </footer>

    {% block scripts %}

    {% endblock %}
</body>
</html>
