{% extends "base.html" %}

{% block content %}
<h1>Welcome to The Games Database</h1>
<input type="text" id="search-box" onkeyup="searchTable()" placeholder="Search for games...">
<div>
  <button onclick="hideClaimed('True')">Hide Claimed</button>
</div>
<table id="games-table">
  <thead>
    <tr>
      <th>ID</th>
      <th class="title-column">Title</th>
      <th>Site</th>
      <th>Redeemed</th>
      <th>Claimed</th>
      {% if status == 'admin' %}
      <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr>
      <td>{{ game['id'] }}</td>
      <td class="title-column">{{ game['game_title'] }}</td>
      <td>{{ game['site'] }}</td>
      <td>{% if game['redemed'] == '0' %}False{% endif %}
          {% if game['redemed'] == '1' %}True{% endif %}</td>
      <td>{{ game['claimed'] }}</td>
      {% if status == 'admin' %}
      <td><a href="{{ url_for('edit', id=game.id) }}" class="btn btn-primary">Edit</a> / <a href="{{ url_for('delete_game', id=game.id) }}" onclick="return confirm('Are you sure you want to delete this game?')">Delete</a></td></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}






